%% -*- erlang -*-
{ok, CurDir} = file:get_cwd().
[
 {include_lib, "rvi_core/backend.config"},
 {set_env,
  [
   {rvi_core,
    [{key_pair, {openssl_pem, filename:join(
				CurDir, "basic_backend_keys/dev_priv.pem")}},
     {provisioning_key,
      {openssl_pem, filename:join(CurDir, "root_keys/root_pub.pem")}},
     {authorize_jwt, filename:join(
		       CurDir, "basic_backend_keys/dev_pub_sign.jwt")}
    ]}
  ]}
].
