%% -*- erlang -*-
[
 {include_lib, "rvi_core/test/config/backend.config"},
 {remove_apps, [dlink_tcp, dlink_tls]},

 {set_env,
  [
   {rvi_core,
    [
     { [routing_rules, ""], [{proto_json, dlink_bt_rpc}] },
     { [components, data_link], [{dlink_bt_rpc, gen_server,
				  [{server_opts, [{test_mode, tcp},
						  {port, 8007}]}]}]}
    ]}
  ]}
].
