%% -*- erlang -*-
[
 {include_lib, "rvi_core/rvi_sample.config"},
 {set_env,
  [
   {gsms,
    [{interfaces,
      [{gsms_plivo, plivo2, [{acct, acct2},
                             {auth_id, "acct2"},
                             {auth_token, "auth2"},
                             {src_number, "+222"},
                             {recv_port, 9300},
                             {send_uri, "http://localhost:9100"},
                             {recv_uri, "http://localhost:9300"}]}]
     }]
   },
   {rvi_core,
    [
     { [routing_rules, ""], {proto_json, dlink_sms_rpc} },
     { [components, data_link], [{dlink_sms_rpc, gen_server,
				  [{server_opts, [{port, 9007}]}]}]}
    ]}
  ]}
].

