%% -*- erlang -*-
[
 {include_lib, "rvi_core/test/config/sample.config"},
 {add_apps, [dlink_tls]},
 {set_env,
  [
   {rvi_core,
    [
     { [routing_rules, ""], {proto_json, dlink_tls_rpc} },
     { [components, data_link], [{dlink_tls_rpc, gen_server,
				  [{server_opts, [{port, 9007}]},
				   {persistent_connections,
				    ["localhost:8007"]}]}]}
    ]}
  ]}
].
