%% -*- erlang -*-

%%
%% Top level app that controls other apps.
%%
{erl_opts, [debug_info]}.
{lib_dirs, [ "deps", "components" ]}.
{sub_dirs, ["rel",
	    "components/authorize",
	    "components/data_link_bert_rpc",
	    "components/protocol",
	    "components/rvi_common",
	    "components/schedule",
	    "components/service_discovery/",
	    "components/service_edge"
]}.
{deps,
 [
  {lager, ".*", {git, "git://github.com/Feuerlabs/lager.git", "1.1"}},
  {exo,  ".*", {git, "git://github.com/Feuerlabs/exo.git",  "1.2"}},
  {setup, ".*", {git, "https://github.com/uwiger/setup.git", "HEAD"}},
  {resource, ".*", {git, "https://github.com/tonyrog/resource.git", "HEAD"}},
  {wse, ".*", {git, "https://github.com/tonyrog/wse.git", "HEAD"}}
 ]}.
