%% -*- erlang -*-

%%
%% Top level app that controls other apps.
%%
{erl_opts, [debug_info]}.
{deps,
 [
  {setup, ".*", {git, "https://github.com/uwiger/setup.git", "HEAD"}},
  {protocol, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/protocol", "master"}},
  %% {data_link_device, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/data_link_device", "master"}},
  %% {data_link_backend, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/data_link_backend", "master"}},
  {data_link_bert_rpc, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/data_link_bert_rpc", "master"}},  
  {authorize, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/authorize", "master"}},
  {schedule, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/schedule", "master"}},
  {service_edge, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/service_edge", "master"}},
  {service_discovery, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/service_discovery", "master"}}
 ]}.
