%% -*- erlang -*-

%%
%% Top level app that controls other apps.
%%
{erl_opts, [debug_info]}.
{deps,
 [
  {setup, ".*", {git, "https://github.com/uwiger/setup.git", "HEAD"}},
  {protocol, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/protocol", "v0.1"}},
  {data_link_bert_rpc, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/data_link_bert_rpc", "v0.1"}},  
  {authorize, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/authorize", "v0.1"}},
  {schedule, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/schedule", "v0.1"}},
  {service_edge, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/service_edge", "v0.1"}},
  {service_discovery, ".*", {git, "https://gerrit.automotivelinux.org/gerrit/RVI/service_discovery", "v0.1"}}
 ]}.
