%% -*- erlang -*-

%% Please see static_nodes and node_service_prefix config
%% comments below. These two entries need to be configured
%% followed by a reboot to get the correct RVI functionality
%%
%% 
%% Copyright (C) 2014, Jaguar Land Rover
%%
%% This program is licensed under the terms and conditions of the
%% Mozilla Public License, version 2.0.  The full text of the 
%% Mozilla Public License is at https://www.mozilla.org/MPL/2.0/
%%
%%-------------
%% Configuration file for the Tizen version of IVI
%% This setup will connect to the rvi1.nginfotpdx.net server
%%------------
%%
%% See rvi_sample.config for full documentation on
%% all configuration parameters.
%%
%% See CONFIGURE.md for a details on the configuration process
%% itself.
%%
%% 
[
 %% All erlang apps needed to fire up a node. Do not touch.
 {apps,
  [kernel,
   stdlib,
   sasl,
   {setup, load},
   syntax_tools,
   lager,
   crypto,
   public_key,
   exo,
   compiler,
   ssl,
   asn1,
   wse,

   rvi, 
   rvi_common,
   service_edge,
   service_discovery,
   authorize,
   schedule,
   data_link_bert_rpc,
   protocol ]},

 {env,
  [
   {lager, 
    [ { handlers, 
	[ {lager_console_backend, info} ]
      }
    ]
   },
      
   {rvi, 
    [
     { node_address, "0.0.0.0:0" },   

     
     %% EDIT THIS
     %% Add a unique suffix to the node service prefix.
     %% Add a unique identifier, such as an UUID IP address,
     %% domain, or similar to ensure that this RVI node
     %% is the only one with the given prefix.
     %%
     %% Valid examples are:
     %% { node_service_prefix, "jlr.com/vin/eaf432a4-c8e0-11e4-a848-f0def1e1deca/" },
     %% { node_service_prefix, "jlr.com/vin/user@gmail.com/" },
     %% { node_service_prefix, "jlr.com/vin/1G4HP52K9TH693999/" },
     %%
     %% 
     { node_service_prefix, "jlr.com/vin/" },

     { static_nodes, 
       [ 
	 %% Static node is rvi1.nginfotpdx.net, JLR's demo
	 %% server node.
	 
	 %% EDIT THIS
	 %% Once node_service_prefix has been updated above,
	 %% uncomment the line below to activate a persistent
	 %% connection to rvi1.nginftpdx.net.
	 %%
	 %% This is needed to get, among others, remote HVAC 
	 %% to work.

	 { "jlr.com/backend/", "38.129.64.13:8807" }
       ]
     },


     { components, 
       [
	{ service_edge, 
	  [ 
	    { gen_server, service_edge_rpc },
	    { url, "http://127.0.0.1:8811" },
	    { exo_http_opts, [ { port, 8811 } ] },

	    %% Websocket is used by Tizen's rvi.js to interact with RVI.
	    { websocket, [ { port, 8818}]}
	  ]
	},
	{ service_discovery, 
	  [ 
	    { gen_server, service_discovery_rpc }
	  ]
	},
	{ schedule, 
	  [ 	
		{ gen_server, schedule }
	  ]
	},
	{ authorize, 
	  [ 
	    { gen_server, authorize_rpc }
	  ]
	},
	{ protocol, 
	  [ 
	    { gen_server, protocol_rpc }
	  ]
	},
	{ data_link, 
	  [ 
	    { gen_server, data_link_bert_rpc_rpc },
	    { bert_rpc_server, [ {port, 8817 }]}
	  ]
	}
       ]
     }
    ]}
]}
].
