# systemd(8) setup usde by Yocto Project
[Unit]
Description=Remote Vehicle Interaction Service
Wants=network-online.target

[Service]
Environment="HOME=/usr/share/rvi_core"
Type=forking
StandardOutput=journal
StandardError=journal
ExecStart=/usr/share/rvi_core/rvi_ctl -c /etc/rvi/rvi.config start
ExecStop=/usr/share/rvi_core/rvi_ctl stop
GuessMainPID=yes
RemainAfterExit=yes

[Install]
WantedBy=graphical.target multi-user.target
