Source: rvi
Section: net
Priority: optional
Maintainer: Magnus Feuer <mfeuer@jaguarlandrover.com>
Build-Depends: debhelper (>= 9), libbluetooth-dev, esl-erlang (>= 1:18.2)
Standards-Version: 3.9.6
Homepage: https://github.com/PDXostc/rvi_core

Package: rvi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bluez, esl-erlang (>= 1:18.2), python-jsonrpclib (>= 0.1.3-1), python (>= 2.7.9-1)
Description: Remote Vehicle Interaction
 GENIVI Remote Vehicle Interaction Core
