%% -*- erlang -*-
[
 %% Put include first, making it possible to override any defaults below
 %%
 %% Add our own app(s)
 {apps,
  [kernel,
   stdlib,
   sasl,
   {setup, load},
   syntax_tools,
   lager,
   crypto,
   public_key,
   exo,
   bert,
   compiler,
   ssl,
   asn1,



   rvi, 
   rvi_common,
   service_edge,
   service_discovery,
   authorize,
   schedule,
   { data_link_backend, load }, %% Load, but do not start
   data_link_device,
   protocol ]},

 %%
 %% Custom environment settings
 %%
 {env,
  [
   {lager, 
    [ { handlers, 
	[ {lager_console_backend, debug} ]
      }
    ]
   },
      
   {rvi, 
    [
     { node_address, "localhost:9991" },   %% Should matcch bert_rpc_server below
     { node_service_prefix, "jlr.com/vin/1234/"},

     { backend_address, "localhost:9990" },
     { backend_service_prefix, "jlr.com/backend/" }, 

     { components, 
       [
	{ service_edge, 
	  [ { url, "http://localhost:8811" },
	    { exo_http_opts, [ { port, 8811 } ] }
	  ]
	},
	{ service_discovery, 
	  [ { url, "http://localhost:8812" },
	    { exo_http_opts, [ { port, 8812 } ] }
	  ]
	},
	{ schedule, 
	  [ { url, "http://localhost:8813" },
	    { exo_http_opts, [ { port, 8813 } ] }
	  ]
	},
	{ authorize, 
	  [ { url, "http://localhost:8814" },
	    { exo_http_opts, [ { port, 8814 } ] }
	  ]
	},
	{ protocol, 
	  [ { url, "http://localhost:8815" },
	    { exo_http_opts, [ { port, 8815 } ] }
	  ]
	},
	{ data_link, 
	  [ { url, "http://localhost:8816" },
	    %% Listen to port 9991 for incoming calls. Must match 
	    %% the port specified for node_address, which is used by
	    %% remote nodes to address this node.
	    { bert_rpc_server, [ { port, 9991 }]},
	    
	    { exo_http_opts, [ { port, 8816 } ] }
	  ]
	}
       ]
     }
    ]}
]}
].
