%% -*- erlang -*-
[
 %% Put include first, making it possible to override any defaults below
 %%
 %% Add our own app(s)
 {apps,
  [kernel,
   stdlib,
   sasl,
   {setup, load},
   syntax_tools,
   lager,
   crypto,
   public_key,
   exo,
   bert,
   compiler,
   ssl,
   asn1,



   rvi, 
   rvi_common,
   service_edge,
   service_discovery,
   authorize,
   schedule,
   { data_link_backend, load }, %% Load, but do not start
   data_link_device,
   protocol ]},

 %%
 %% Custom environment settings
 %%
 {env,
  [
   {lager, 
    [ { handlers, 
	[ {lager_console_backend, debug} ]
      }
    ]
   },
      
   {rvi, 
    [
     { node_address, "127.0.0.1:9991" },   %% Should matcch bert_rpc_server below
     { node_service_prefix, "jlr.com/vin/1234/"},

     { backend_address, "127.0.0.1:9990" }, %% See data_link_device:send_data() for details
     { backend_service_prefix, "jlr.com/backend/" }, 

     { components, 
       [
	{ service_edge, 
	  [ { url, "http://127.0.0.1:8811" },
	    { exo_http_opts, [ { port, 8811 } ] }
	  ]
	},
	{ service_discovery, 
	  [ { url, "http://127.0.0.1:8812" },
	    { exo_http_opts, [ { port, 8812 } ] }
	  ]
	},
	{ schedule, 
	  [ { url, "http://127.0.0.1:8813" },
	    { exo_http_opts, [ { port, 8813 } ] }
	  ]
	},
	{ authorize, 
	  [ { url, "http://127.0.0.1:8814" },
	    { exo_http_opts, [ { port, 8814 } ] }
	  ]
	},
	{ protocol, 
	  [ { url, "http://127.0.0.1:8815" },
	    { exo_http_opts, [ { port, 8815 } ] }
	  ]
	},
	{ data_link, 
	  [ { url, "http://127.0.0.1:8816" },
	    { bert_rpc_server, [ {port, 9991 }]},
	    { exo_http_opts, [ { port, 8816 } ] }
	  ]
	}
       ]
     }
    ]}
]}
].
