%% -*- erlang -*-
[
 %% Put include first, making it possible to override any defaults below
 {include_lib, "exoport/priv/setup.config"},
 %%
 %% Add our own app(s)
 {add_apps, [asn1, 
	     ssl,
	     rvi_common,
	     schedule]},
 %%
 %% Custom environment settings
 {env,
  [
   {setup, [{data_dir, "db"}]},
   %% Tell exoport where to find our config file
   {exoport,
    [
     {bert_port, 9991}, %% 9999 was taken.
     {config, filename:join(CWD, "exoport.config")},
     {access,
      [{redirect, [{schedule, schedule_rpc}]},
       {accept, schedule_rpc}
      ]},
     {exo_http,
      [{port, 8801},
       {appmod, {exoport_exo_http, schedule_rpc}}]},
     {kvdb_databases,
      [{kvdb_conf,
	[{file,"$DATA_DIR/kvdb_conf.db"},
	 {backend,ets},
	 {log_dir, "$DATA_DIR/kvdb_conf.log"},
	 {log_threshold, [{writes, 1000}]},
	 {save_mode, [on_switch, on_close]},
	 {tables,[data]},
	 {encoding,{raw,term,term}},
	 {schema,kvdb_schema_events}]}
      ]}
    ]}
   %% %% We run with a logging ETS backend in the database
   %% {kvdb,
   %%  [
   %%    ]}
   %%  ]}
  ]}
].
