%% -*- erlang -*-
[
 %% Put include first, making it possible to override any defaults below
 %%
 %% Add our own app(s)
 {apps,
  [kernel,
   stdlib,
   sasl,
   {setup, load},
   syntax_tools,
   lager,
   crypto,
   public_key,
   exo,
   bert,
   compiler,
   ssl,
   asn1,

   rvi, 
   rvi_common,
   service_edge,
   service_discovery,
   authorize,
   schedule,
   {data_link_backend, load},  %% Load, but do not start.
   data_link_device,
   protocol ]},

 %%
 %% Custom environment settings
 %%
 {env,
  [
   {lager, 
    [ { handlers, 
	[{lager_console_backend, debug}]
	}
    ]
   },
      
   {rvi, 
    [
     { node_address, "127.0.0.1:9990" },   %% Should match bert_rpc_server below
     { node_service_prefix, "jlr.com/backend/"},

     { backend_address, "127.0.0.1:9990" },
     { backend_service_prefix, "jlr.com/backend/" }, 

     %% Fire up a bert rpcserver for the backend data link module.

     { components, 
       [
	{ service_edge, 
	  [ { url, "http://127.0.0.1:8801" },
	    { exo_http_opts, [ { port, 8801 } ] }
	  ]
	},
	{ service_discovery, 
	  [ { url, "http://127.0.0.1:8802" },
	    { exo_http_opts, [ { port, 8802 } ] }
	  ]
	},
	{ schedule, 
	  [ { url, "http://127.0.0.1:8803" },
	    { exo_http_opts, [ { port, 8803 } ] }
	  ]
	},
	{ authorize, 
	  [ { url, "http://127.0.0.1:8804" },
	    { exo_http_opts, [ { port, 8804 } ] }
	  ]
	},
	{ protocol, 
	  [ { url, "http://127.0.0.1:8805" },
	    { exo_http_opts, [ { port, 8805 } ] }
	  ]
	},
	{ data_link, 
	  [ 
	    %% Listen to port 9990 for incoming calls. Must match 
	    %% the port specified for node_address, which is used by
	    %% remote nodes to address this node.
	    { bert_rpc_server, [ { port, 9990 }]},
	    { url, "http://127.0.0.1:8806" },
	    { exo_http_opts, [ { port, 8806 } ] }
	  ]

	}
       ]
     }
    ]}
]}

].
