%% -*- erlang -*-
{ok, CurDir} = file:get_cwd().
[
 {include_lib, "rvi_core/priv/config/rvi_backend.config"},
 {set_env,
  [
   {rvi_core,
    [{device_key, "$HOME/../../basic_backend_keys/device_key.pem"},
     {root_cert, "$HOME/../../root_keys/root_cert.crt"},
     {device_cert, "$HOME/../../basic_backend_keys/device_cert.crt"},
     {cred_dir, "$HOME/../../basic_backend_creds"}
    ]}
  ]}
].
