%% -*- erlang -*-
{ok, CurDir} = file:get_cwd().
D = filename:dirname(filename:absname(SCRIPT)).
F = filename:join(D,"rvi_core/priv/config/load_ini.config").
I = filename:join(D, "rvi_core/priv/test_config/my_ini.config").
{ok, Instr} = file:script(F, [{'FILE', I}]).
[
 {include_lib, "rvi_core/priv/config/rvi_backend.config"}
 | Instr
].
