%% -*- erlang -*-
{ok, CurDir} = file:get_cwd().
[
 {include_lib, "rvi_core/priv/test_config/backend.config"},
 {remove_apps, [bt, dlink_bt]},
 {set_env,
  [{rvi_core,
    [
     {[components, data_link, dlink_tcp_rpc, server_opts, ping_interval], 500}
     %% {[components, data_link, dlink_tcp_rpc, persistent_connections],
     %%  ["localhost:9007"]}
    ]}
  ]}
].
