%% -*- erlang -*-
J = filename:join(CWD, "my_json.config"),
{ok, Instr} = file:script(J, [{'FILE', J}]).
[
 {include_lib, "rvi_core/priv/config/rvi_sample.config"}
 | Instr
 %% {set_env,
 %%  [
 %%   {rvi_core,
 %%    [
 %%     {node_service_prefix, "jlr.com/vin/abc"},
 %%     {device_key, "$HOME/../../basic_sample_keys/device_key.pem"},
 %%     {root_cert, "$HOME/../../root_keys/root_cert.crt"},
 %%     {device_cert, "$HOME/../../basic_sample_keys/device_cert.crt"},
 %%     {cred_dir, "$HOME/../../basic_sample_creds"}
 %%    ]}
 %%  ]}
].
