%% -*- erlang -*-
[
 {include_lib, "rvi_core/priv/test_config/backend.config"},
 {set_env,
  [
   {rvi_core,
    [
     { [routing_rules, ""], [{proto_msgpack_rpc, dlink_tls_rpc}] },
     { [components, data_link], [{dlink_tls_rpc, gen_server,
				  [{server_opts, [{port, 8807},
						  {ping_interval,500},
						  {tls_opts,
						   [{reuse_sessions, false}]}
						 ]}]}]},
     { [components, protocol], [{proto_msgpack_rpc, gen_server, []}] }
    ]}
  ]}
].
