%% -*- erlang -*-
[
 {include_lib, "rvi_core/priv/test_config/sample.config"},
 {set_env,
  [
   {rvi_core,
    [
     { [routing_rules, ""], [{proto_msgpack_rpc, dlink_tls_rpc}] },
     { [components, data_link], [{dlink_tls_rpc, gen_server,
				  [{server_opts, [{port, 9007}]},
				   {persistent_connections,
				    ["localhost:8007"]}]}]},
     { [components, protocol], [{ proto_msgpack_rpc, gen_server, [] }] }
    ]}
  ]}
].
