%% -*- erlang -*-
[
 {include_lib, "rvi_core/priv/test_config/backend.config"},
 {set_env,
  [
   {rvi_core,
    [
     { [routing_rules, ""], [{proto_json_rpc, dlink_tls_rpc}] },
     { [components, data_link], [{dlink_tls_rpc, gen_server,
				  [{server_opts, [{port, 8007}]},
				   {packet_mod, dlink_data_json}
				  ]}]},
     { [components, protocol], [{proto_json_rpc, gen_server, []}] }
    ]}
  ]}
].
