Source: rvi-core
Section: unknown
Priority: optional
Maintainer: Jeremiah C. Foster <jeremiah@jeremiahfoster.com>
Build-Depends: debhelper (>= 9), libbluetooth-dev, erlang-base
Standards-Version: 3.9.6
Homepage: https://github.com/PDXostc/rvi_core
Vcs-Git: https://github.com/PDXostc/rvi_core.git
Vcs-Browser: https://github.com/PDXostc/rvi_core.git

Package: rvi-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Remote Vehicle Inteface allows communication with a motor vehicle via the network.
 The rvi program allows one to access a vehicle interface remotely, over the network.
