%% -*- erlang -*-

%% Copyright (C) 2014, Jaguar Land Rover
%%
%% This program is licensed under the terms and conditions of the
%% Mozilla Public License, version 2.0.  The full text of the 
%% Mozilla Public License is at https://www.mozilla.org/MPL/2.0/
%%
%% Configuration include file for rvi config files
%% 
Out = filename:absname(proplists:get_value(outdir, OPTIONS)).
[
 %% All erlang apps needed to fire up a node. Do not touch.
 {apps,
  [kernel,
   stdlib,
   sasl,
   setup,
   syntax_tools,
   lager,
   crypto,
   public_key,
   base64url,
   exo,
   compiler,
   ssl,
   asn1,
   %% RVI-specific apps.

   %% Do not touch unless you are replacing apps with your own
   %% version.  If you are replacing an app with a non-Erlang version,
   %% it still has to be loaded in order to resolve.
   %% If, for example, you want to deploy your own scheduler 
   %% outside Erlang, replace
   %%
   %%     schedule,
   %% with
   %%     { schedule, load },
   %%
   rvi_core, 
   rvi_common,
   service_discovery,
   service_edge,
   authorize,
   schedule,
   bt,
   dlink_tcp,
   dlink_bt,
   proto_bert,
   proto_json
   %% If adding apps, you can still include this config, and complement
   %% with {add_apps, [App]}, {remove_apps, [App]} and even {sort_app,A,Before}.
  ]},

 {env,
  [
   {setup,
    [
     {home, Out}
    ]},
   {rvi_core,
    [
     {provisioning_key, "$PRIV_DIR/keys/self_provisioning_key.pem"},
     {authorize_jwt, "$PRIV_DIR/keys/authorize.jwt"},
     {cert_dir, "$DATA_DIR/certs"}
    ]}
  ]}
].
