# systemd(8) setup usde by Tizen and others.
[Unit]
Description=Remote Vehicle Interaction Service
Wants=network-online.target

[Service]
Environment="HOME=/opt/rvi-0.3.2"
Type=forking
StandardOutput=journal
StandardError=journal
ExecStartPre=/opt/rvi-0.3.2/erts-5.10.4/bin/epmd -daemon
ExecStart=/bin/sh /opt/rvi-0.3.2/bin/rvi start
ExecStop=/bin/sh /opt/rvi-0.3.2/bin/rvi stop
ExecStopPost=/opt/rvi-0.3.2/erts-5.10.4/bin/epmd -kill
GuessMainPID=yes

[Install]
WantedBy=graphical.target multi-user.target
