# systemd(8) setup usde by Tizen and others.
[Unit]
Description=Software Over The Air Service
Wants=network-online.target rvi.service

[Service]
Environment="HOME=/opt/sota"
WorkingDirectory=/opt/sota
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=/bin/sh -c "sleep 10;/usr/bin/python sota_device.py http://localhost:8811"
#ExecStart=/usr/bin/python sota_device.py http://localhost:8811
#ExecStop=/bin/sh /opt/rvi-0.2.2/bin/rvi stop
#ExecStopPost=/opt/rvi-0.2.2/erts-5.10.4/bin/epmd -kill
GuessMainPID=yes

[Install]
WantedBy=graphical.target multi-user.target
