%% -*- erlang -*-

%% Copyright (C) 2014, Jaguar Land Rover
%%
%% This program is licensed under the terms and conditions of the
%% Mozilla Public License, version 2.0.  The full text of the 
%% Mozilla Public License is at https://www.mozilla.org/MPL/2.0/
%%
%% Configuration file for the (in-vehicle) IVI used by the hvac_demo
%% See ../hvac_demo/README.md for detai;s
%% 

%% -----------------------------------------------
%% See vehicle.config file for documentation and hints
%% -----------------------------------------------

[
 {apps,
  [kernel,
   stdlib,
   sasl,
   {setup, load},
   syntax_tools,
   lager,
   crypto,
   public_key,
   exo,
   compiler,
   ssl,
   asn1,
   wse, 
   
   rvi, 
   rvi_common,
   service_edge,
   service_discovery,
   authorize,
   schedule,
   data_link_bert_rpc,
   protocol ]},

 {env,
  [
   {lager, 
    [ { handlers, 
	[{lager_console_backend, info}]
	}
    ]
   },
      
   {rvi, 
    [
     { node_address, "127.0.0.1:8807" }, 
     { node_service_prefix, "jlr.com/backend/"},

     { static_nodes, 
       [ 
	 %% We are the backend server. No need.
       ]
     },

     { components, 
       [
	{ service_edge, 
	  [ { url, "http://127.0.0.1:8801" },
	    { exo_http_opts, [ { port, 8801 } ] }
	  ]
	},
	{ service_discovery, 
	  [ { url, "http://127.0.0.1:8802" },
	    { exo_http_opts, [ { port, 8802 } ] }
	  ]
	},
	{ schedule, 
	  [ { url, "http://127.0.0.1:8803" },
	    { exo_http_opts, [ { port, 8803 } ] }
	  ]
	},
	{ authorize, 
	  [ { url, "http://127.0.0.1:8804" },
	    { exo_http_opts, [ { port, 8804 } ] }
	  ]
	},
	{ protocol, 
	  [ { url, "http://127.0.0.1:8805" },
	    { exo_http_opts, [ { port, 8805 } ] }
	  ]
	},
	{ data_link, 
	  [ 
	    { url, "http://127.0.0.1:8806" },
	    { exo_http_opts, [ { port, 8806 } ] },

	    %% The bert_rpc_server port will be used to listen to incoming
	    %% traffic from remote nodes. 
	    %% Must match the port given in node_address
	    { bert_rpc_server, [ {port, 8817 }]}
	  ]

	}
       ]
     }
    ]}
]}

].
